<div class="list-details">
  <h4>Travelers</h4>
  <p><%= link_to "Who's Taken the Most Trips? Find Out Here!", most_destinations_url %></p>
  <% @users.each do |user| %>
    <div class="underlined-list">
      <span class="no-underline bold-text"><%= link_to user.name, user_destinations_path(user) %> </span><br>
      <% if user.destinations.count >= 1 %>
        <p>Last Destination Added: <%= user.last_destination.city.name %></p>
        <% else%>
        <p>No destinations added yet</p>
      <% end %>
    </div>
  <% end %>
</div>